<div id="app">
  <div class="header gradient">
    <%= image_tag 'cocktail-white.svg', class: 'icon' %>
    <div class="header__title">The drinks searcher</div>
  </div>

  <div class="searcher">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Easy search</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Recommend me ;)</label>
      </div>
    </div>

    <div class="simple-form">
      <div class="simple-form__input">
        <input v-model="search" class="form-control form-control-lg" @keyup.enter="searchDrinks" placeholder="Try a Martini..">
      </div>
      <div class="simple-form__btn">
        <button type="submit" class="btn btn-outline-primary btn-lg" @click="searchDrinks">Search</button>
      </div>
    </div>

    <div class="advanced-form" style="display:none;">
      <div class="row">
        <div class="col-3">
          <span>ABV</span>
        </div>
        <div class="col-9">
          <input class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="20" data-slider-id="RC" id="abv"/>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <span>IBU</span>
        </div>
        <div class="col-9">
          <input class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="35" data-slider-id="GC" id="ibu"/>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <span>Temp</span>
        </div>
        <div class="col-9">
          <input  class="slider" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="2" data-slider-id="BC" id="temp"/>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <div id="RGB"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="drinks-list">
    <div class="card drink-card" v-for="(drink, index) in drinks" :key='index'>
      <img :src="drink.image_url" class='drink-card__img' />
      <div class="drink-card__body">
        <h2>{{ drink.name }}</h2>
        <p>{{ drink.description }}</p>
      </div>
    </div>
  </div>

</div>

<script>
  var app = new Vue({
    el: '#app',
    data () {
      return {
        search: '',
        drinks: []
      }
    },
    mounted () {
      this.getDrinks()
    },
    methods: {
      getDrinks() {
        $.get( "/api/v1/drinks", ( res ) => {
          this.drinks = res.data
        })
      },
      getRecommendation() {
        // $.get( "/api/v1/drinks", ( res ) => {
        //   this.drinks = res.data
        // })
      },
      searchDrinks() {
        let url = '/api/v1/drinks/' + encodeURI(this.search)
        $.get( url, ( res ) => {
          this.drinks = res.data
        })
      }
    }
  })
</script>
