<div id="app">
  <div class="header gradient">
    <%= image_tag 'cocktail-white.svg', class: 'icon' %>
    <div class="header__title">The drinks searcher</div>
  </div>
  {{ message }}
  <div class="searcher">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Easy search</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Recommend me ;)</label>
      </div>
    </div>

    <%= form_tag do %>
      <div class="simple-form">
        <div class="simple-form__input">
          <input class="form-control form-control-lg" type="text" placeholder="Try a Martini..">
        </div>
        <div class="simple-form__btn">
          <button type="submit" class="btn btn-outline-primary btn-lg">Search</button>
        </div>
      </div>

      <div class="advanced-form" style="display:none;">
        User inputs to search a collection of drinks based on given recommendations.
      </div>
    <% end %>
  </div>

  <div class="drinks-list">
    <div class="card drink-card" v-for="(drink, index) in drinks" :key='index'>
      <img :src="drink.image_url" class='drink-card__img' />
      <div class="drink-card__body">
        <h2>{{ drink.name }}</h2>
        <p>{{ drink.description }}</p>
      </div>
    </div>
  </div>

</div>

<script>
  var app = new Vue({
    el: '#app',
    data () {
      return {
        message: 'Hello Vue!',
        drinks: []
      }
    },
    mounted () {
      this.getDrinks()
    },
    methods: {
      getDrinks() {
        $.get( "/api/v1/drinks", ( res ) => {
          this.drinks = res.data
        })
      }
    }
  })
</script>
