<div id="app">
  <div class="header gradient">
    <%= image_tag 'cocktail-white.svg', class: 'icon' %>
    <div class="header__title">The drinks searcher</div>
  </div>

  <div class="searcher">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Easy search</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Recommend me ;)</label>
      </div>
    </div>

    <div class="simple-form">
      <div class="simple-form__input">
        <input v-model="search" class="form-control form-control-lg" @keyup.enter="searchDrinks" placeholder="Try a Martini..">
      </div>
      <div class="simple-form__btn">
        <button type="submit" class="btn btn-outline-primary btn-lg" @click="searchDrinks">Search</button>
      </div>
    </div>

    <div class="advanced-form" style="display:none;">
      <form method="POST" v-on:submit.prevent="recommendDrinks">
        <div class="row">
          <div class="col-3">
            <span>ABV</span>
          </div>
          <div class="col-9">
            <input class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="20" data-slider-id="RC" id="abv"/>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span>IBU</span>
          </div>
          <div class="col-9">
            <input class="slider" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="35" data-slider-id="GC" id="ibu"/>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <span>Temp</span>
          </div>
          <div class="col-9">
            <input value="" class="slider" data-slider-min="0" data-slider-max="4" data-slider-step="1" data-slider-value="2" data-slider-id="BC" id="temp"/>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <button id="RGB" type="submit" class="btn btn-outline-secondary btn-lg">What should I drink?</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="drinks-list">
    <div class="card drink-card" v-for="(drink, index) in drinks" :key='index'>
      <img :src="drink.image_url" class='drink-card__img' />
      <div class="drink-card__body">
        <h2>{{ drink.name }}</h2>
        <p>ABV: {{ drink.alcohol_level }}</p>
        <p>IBU: {{ drink.ibu }}</p>
        <p>Temp: {{ drink.temperature }}</p>
        <p>{{ drink.description }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nav>
          <ul class="pagination">
            <li class="page-item" v-for="page in pages">
              <span class="page-link" v-bind:class="{ current: page == pagination.current }" @click="changePage(page)">{{ page }}</span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script>
  var app = new Vue({
    el: '#app',
    data () {
      return {
        search: '',
        drinks: [],
        pages: 0,
        pagination: {
          size: 5,
          current: 1,
        }
      }
    },
    mounted () {
      this.getTotalDrinks()
    },
    methods: {
      getTotalDrinks () {
        $.get( "/api/v1/drinks/total/", ( res ) => {
          this.pages = Math.ceil(res.data / this.pagination.size)
        })
        .done(() => {
          this.getDrinks()
        })
      },
      getDrinks () {
        $.get( "/api/v1/drinks/", this.pagination, ( res ) => {
          this.drinks = res.data
        })
      },
      changePage (page) {
        this.pagination.current = page
        this.getDrinks()
        // document.body.scrollTop = 0; // For Safari
        // document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      },
      searchDrinks () {
        let params = this.pagination
        params.search = encodeURI(this.search)
        $.get( '/api/v1/drinks/search/', params, ( res ) => {
          this.drinks = res.data
        })
      },
      recommendDrinks () {
        let data = {
          abv: $("#abv").val(),
          ibu: $("#ibu").val(),
          temp: $("#temp").val()
        }
        $.post( "/api/v1/drinks/recommend/", data, ( res ) => {
          this.drinks = res.data
        })
      },
    }
  })
</script>
